## Python warmup

Para esse conjunto de exercícios vamos utilizar o dataset [MovieLens 100k](https://grouplens.org/datasets/movielens/100k/)


Os conjuntos de dados do MovieLens foram coletados pelo GroupLens Research Project na Universidade de Minnesota.
 
Este conjunto de dados consiste em:
* 100.000 classificações (1-5) de 943 usuários em 1.682 filmes.
* Cada usuário classificou pelo menos 20 filmes.
* Informações demográficas simples para os usuários (idade, sexo, ocupação, CEP)

Os dados foram coletados por meio do site MovieLens (movielens.umn.edu) durante o período de sete meses a partir de 19 de setembro, 1997 a 22 de abril de 1998. Estes dados foram limpos - usuários que tiveram menos de 20 avaliações ou não tiveram dados demográficos completos informações foram removidas deste conjunto de dados. Descrições detalhadas de o arquivo de dados pode ser encontrado no final deste arquivo.

Utilizando esse Dataset responda as seguintes perguntas. Você deverá utilizar somente as bibliotecas padrões do python, i.e., nenhuma nova biblioteca deve ser adicionada para implementar suas soluções (**isso é um warmup de python!**)

#### Encontrar:
1. O(s) usuário(s) mais crítico(s) na avaliação de filmes.
    * Encontrar aquele id cujas notas são, em média, as menores;
1. O(s) filme(s) mais mal avaliado(s) pelos usuários.
1. O(s) filme(s) mais bem avaliado(s) pelos usuários.
1. Média de avaliação para cada gênero de filmes;
1. Avaliação média de filmes por ano. 
    * Listar qual o ano com a melhor média de avaliação de filmes;
1. Qual a ocupação mais propensa a dar más avaliações a filmes;
    * Encontrar a média de avaliação para cada ocupação de usuário e mostrar os menores e maiores valores

In [2]:
import numpy as np
import pandas as pd

In [4]:
# Incluindo cabeçalho
columns_name=['user_id','item_id','rating','timestamp']
data = pd.read_csv('/home/hub/git-pessoal/Aulas_git_Ai2/5-Python/Jupyter_Notebook_Markdown/ml-100k/u.data', sep='\t', names=columns_name)
data.head()

   user_id  item_id  rating  timestamp
0      196      242       3  881250949
1      186      302       3  891717742
2       22      377       1  878887116
3      244       51       2  880606923
4      166      346       1  886397596

### Questão 1: O(s) usuário(s) mais crítico(s) na avaliação de filmes (encontrar aquele id cujas notas são, em média, as menores).

In [5]:
# Explicação do que foi feito

In [15]:
data.groupby(['user_id']).mean().sort_values(['rating']).head(5).drop(['item_id','timestamp'],axis=1)

           rating
user_id
181      1.491954
405      1.834464
445      1.985185
685      2.050000
774      2.058036

### Questão 2: O(s) filme(s) mais mal avaliado(s) pelos usuários.

In [13]:
data.groupby(['item_id']).mean().sort_values(['rating']).head(71).drop(['user_id','timestamp'],axis=1)

           rating
item_id
1364     1.000000
1561     1.000000
1559     1.000000
1557     1.000000
1601     1.000000
...           ...
1678     1.000000
1349     1.000000
1366     1.000000
1359     1.000000
438      1.166667

[71 rows x 1 columns]

In [11]:
# Associar ao nome do filme

### Questão 3: O(s) filme(s) mais bem avaliado(s) pelos usuários.

In [16]:
data.groupby(['item_id']).mean().sort_values(['rating'],ascending=False).head(11).drop(['user_id','timestamp'],axis=1)

         rating
item_id
814       5.000
1599      5.000
1201      5.000
1122      5.000
1653      5.000
1293      5.000
1500      5.000
1189      5.000
1536      5.000
1467      5.000
1449      4.625

### Questão 4: Média de avaliação para cada gênero de filmes